# SEMANA 5

Facundo Rafael Moreno Mernacho

Temas
1. Colecciones de datos
2. Estructuras Decisivas y estructuras Repetitivas
3. Clases y objetos
4. Funciones

In [1]:
tupla_aula = {'bernaola', 'chipanma','Gomez','Navarro'}
tupla_aula

{'Gomez', 'Navarro', 'bernaola', 'chipanma'}

In [3]:
tupla_aula[2]

TypeError: 'set' object is not subscriptable

In [4]:
len(tupla_aula)

4

In [5]:
conjunto_aula = {'Ramon','Moreno','Pascacio','Luque'}
len(conjunto_aula)

4

In [6]:
for alumno in conjunto_aula:
    print(alumno)

Ramon
Pascacio
Moreno
Luque

In [7]:
conjunto_aula[2]

TypeError: 'set' object is not subscriptable

In [8]:
conjunto_aula.add("Palomino")
conjunto_aula

{'Luque', 'Moreno', 'Palomino', 'Pascacio', 'Ramon'}

In [9]:
conjunto_aula.remove("Luque")
conjunto_aula

{'Moreno', 'Palomino', 'Pascacio', 'Ramon'}

In [10]:
diccionario_aula = {2:'Bernaola', '1':'Luque','dos':'Pascacio','3':'Navarro', '0':'Lopez'}
diccionario_aula

{2: 'Bernaola', '1': 'Luque', 'dos': 'Pascacio', '3': 'Navarro', '0': 'Lopez'}

In [11]:
diccionario_aula['0']

'Lopez'

In [12]:
diccionario_aula[2]

'Bernaola'

In [13]:
diccionario_aula['1']

'Luque'

In [14]:
diccionario_aula['20'] = "Tenorio"
diccionario_aula

{2: 'Bernaola',
 '1': 'Luque',
 'dos': 'Pascacio',
 '3': 'Navarro',
 '0': 'Lopez',
 '20': 'Tenorio'}

In [15]:
diccionario_aula.pop(2)
diccionario_aula

{'1': 'Luque',
 'dos': 'Pascacio',
 '3': 'Navarro',
 '0': 'Lopez',
 '20': 'Tenorio'}

In [16]:
del(diccionario_aula["dos"])
diccionario_aula

{'1': 'Luque', '3': 'Navarro', '0': 'Lopez', '20': 'Tenorio'}

In [17]:
for indice in diccionario_aula:
    print(indice)

1
3
0
20

In [1]:
apellido = input("Ingrese apellido: ")
apellido = apellido.upper()
estudiantes_lp3 = {'FIGUEROA', 'GARCIA', 'GUTIERREZ', 'ISLA', 'LOPEZ', 'LUQUE', 'MAMANI', 'MARCANI','MONDRAGON','MORENO', 'MUÑOZ', 'NAVARRO', 'OTAZU', 'PASCACIO', 'RAMON', 'TENORIO', 'VEGAS'}
if apellido in estudiantes_lp3:
    print(f"El apellido '{apellido}' está en la lista ")
else:
    print(f"El apellido '{apellido}' no está en la lista")

Ingrese apellido: GARCIA
El apellido 'GARCIA' está en la lista

In [1]:
p1 = float(input("Producto 1 : "))
p2 = float(input("Producto 2 : "))
p3 = float(input("Producto 3 : "))
total = p1 + p2 + p3

Producto 1 : 1
Producto 2 : 2
Producto 3 : 3

In [ ]:
#dado el importe total de ventas realizadas por un trabajador 
salario_str = input("Ingrese el salario del trabajador: ")
# Validar que la entrada sea un número
if not salario_str.isdigit():
    print("Por favor, ingrese un salario válido (número).")
else:
    salario = float(salario_str)

    if salario >= 0 and salario < 1000:
        categoria = 'Categoría A'
    elif salario >= 1000 and salario < 2000:
        categoria = 'Categoría B'
    elif salario >= 2000 and salario < 5000:
        categoria = 'Categoría C'
    elif salario >= 5000:
        categoria = 'Categoría D'
    else:
        categoria = 'Salario no válido'

    print(f'La categoría del trabajador según su salario es: {categoria}')